.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}

.note {
  border: 2px solid #cccccc;
  word-wrap: break-word;
  padding: 1rem;
  margin: 1.25rem;
  border-radius: 1.25rem;
  box-shadow: 1px 0 2px #cccccc;

  &__title {
    width: 200px;
    overflow: hidden;
    margin-top: 0.5rem;
    max-height: 1.5rem;
  }

  &__description {
    width: 200px;
    overflow: scroll;
    max-height: 60px;
  }
}

