.post {
  display: flex;

  &__link {
    display: flex;
    color: #666;
    text-decoration: none;
  }

  &__thumbnail {
    margin: 0;
    width: 40%;
  }

  &__image {
    max-width: 100%;
    min-height: 100%;
  }

  &__caption {
    margin-left: .75rem;
  }

  &__title {
    margin: 0;
  }

  &__date {
    color: #cccccc;
  }

}
